.bg-warning,.btn-warning
{
    background: linear-gradient(45deg, rgb(171, 196, 249), rgb(75, 38, 19));
}
#landing-page 
{
    background-color:yellow;
    height:100vh;
}
#landing-page>.content-section
{
    background:rgb(30, 51, 95) url(./cartimg.avif) no-repeat;
    background-size:cover;
    height:inherit;
}